<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pisi Online Bank</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="header">
        <h1>PISI ONLINE BANK</h1>
            
        <div class="nav">
           

            <ul>
                <li><a href="login.html">Login</a></li>
                <li class="register"><a href="register.html">Become a customer</a></li>
            </ul>
        </div>
    </div>

    <div id="hero" class="hero">
        <div class="heroContainer">
            <h2>Welcome to PISI ONLINE BANK</h2>
            <span class="heroSubtitle">Smart, secure, and effortless—welcome to the future of banking.</span>
        </div>
        <button class="getStarted"><a href="register.html">Get Started</a></button>
    </div>
    
    <div id="about" class="about">
        <img src="logo.png" alt="">
        <div class="aboutContainer">
            <h3>What is Pisi online bank</h3>
            <span class="aboutSpan">PISI Online Bank is more than just a financial institution; it's your trusted partner in
                 achieving financial freedom. Our mission is to revolutionize the way you bank, offering
                  cutting-edge technology, unmatched security, and personalized services.</span>
        </div>
    </div>
    <div id="contacts" class="contacts">
        <div class="contactsContainer">
            <h2>Contact Us</h2>
            <p>We are here to assist you with any questions or services you need.</p>
            <ul>
                <li><strong>Phone:</strong> +123 456 789</li>
                <li><strong>Email:</strong> support@pisionlinebank.com</li>
                <li><strong>Address:</strong> 123 Bank Street, Capital City, Country</li>
                <li><strong>Operating Hours:</strong> Mon - Fri: 9:00 AM - 5:00 PM</li>
            </ul>
        </div>
    </div>   

    <footer>
        <p>&copy; 2024 PISI Online Bank. All rights reserved.</p>
    </footer>
</body>
</html>
