<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="form.css">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <h1><a href="index.html">PISI ONLINE BANK</a></h1>
            
        <div class="nav">
            <ul>
                <li><a href="login.html">Login</a></li>
                <li class="register"><a href="register.html">Become a customer</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <img src="logo.png" alt="">

        <div class="formContainer">
            <h2>Login</h2>
            <form action="">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="text" id="password" name="password" required>


                <button type="submit">Login</button>
            </form>
            
        </div>
    </div>

    

</body>
</html>