<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <div class="header">
        <h1>PISI ONLINE BANK</h1>

    </div>

    <section>
        <div class="nav">
            <ul>
                <li>
                    <img src="icons/dashboard.png">
                    <span><a href="/dashboard">Dashboard</a></span>
                </li>
                <li>
                    <img src="icons/cards.png">
                    <span><a href="cards">Cards</a></span>
                </li>
                
                <li>
                    <img src="icons/pay.png">
                    <span><a href="/dashboard">e-payment</a></span>
                </li>
                <li>
                    <img src="icons/deposit.png">
                    <span><a href="cards">Recharge</a></span>
                </li>
            </ul>

            <ul>
                <li>
                    <img src="icons/settings.png">
                    <span>Settings</span>
                </li>
                <li>
                    <img src="icons/logout.png">
                    <span>Logout</span>
                </li>
            </ul>
        </div>
        <div class="board">
            <h2>Welcome, <span th:text="${customer.firstName}"></span></h2>
            <div class="stat">
                <div class="balance">
                    <span>Banlance :</span>
                    <div class="amount"><span th:text="${bankAccount.balance}"></span> TND</div>
                </div>

                <div class="card">
                    <div class="one">
                        <img src="icons/symbol.png">
                        <span>Platinum debit</span>
                    </div>
                    <div class="two">
                        <span th:text="XXXX-XXXX-XXXX- + ${bankAccount.num}"></span>
                    </div>
                    <div class="three">
                        <ul>
                            <li class="title">VALID THRU</li>
                            <li class="info">12/23</li>
                        </ul>
                        <ul>
                            <li class="title">CARD HOLDER</li>
                            <li class="info" th:text="${customer.firstName} + ' ' + ${customer.lastName}"></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 PISI Online Bank. All rights reserved.</p>
    </footer>
</body>
</html>