<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Register - PISI Bank</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Login</h1>

<form action="/debug" method="POST">
	<div>
		<label for="email">Email</label>
		<input type="text" id="email" name="email" required />
	</div>
	<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
	</div>
	<button type="submit">Login</button>
</form>
<div th:if="${param.error}">
	<p style="color: red;">Invalid credentials. Please try again.</p>
</div>
<div th:if="${param.unexpected}">
	<p style="color: red;">An unexpected error occurred. Please try later.</p>
</div>
<footer>
	<p>&copy; 2023 PISI Bank</p>
</footer>
</body>
</html>